body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 line-height: 1.5;
 padding: 0;
 margin: 0;
 background-color: #f4f4f4;
}

/* Global */

.container{
 width: 80%;
 margin: auto;
 overflow: hidden;
}

ul{
 margin: 0;
 padding:0;
}

.dark{
 padding:15px;
 background: #35424a;
 color: #ffffff;
 margin-top: 10px;
 margin-bottom: 10px;
}

/* header */

header{
 background: #35424a;
 color:#ffffff;
 padding-top: 30px;
 min-height: 70px;
 border-bottom: #e8459d 3px solid;
}

header a{
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 16px;
}

header li{
 float: left;
 display: inline;
 padding: 0  2px 0 20px;
}

header #branding{
 float: left;
}

header #branding h1{
 margin: 0;
}

header nav{
 float: right;
 margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8459d;
  font-weight: bold;
}

header a:hover{
 color: #cccccc;
 font-weight: bold;
}

/*Showcase*/

#showcase{
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
 margin-top: 100px;
 font-size: 55px;
 margin-bottom: 10px;
}

#showcase p{
 font-size: 20px;
}

#showcase #already_user{
 color: #e8459d;
 font-weight: bold;
 margin-top: 25px;
 margin-bottom: 25px;
}

#showcase button{
 font-size: 20px;
 //display: block;
 float: none;
 width: 150px;
 margin-bottom: 15px;
}

#add_acct_sect{
 margin-bottom: 30px;
}

add_acct_div{
 margin-top: 20px;
 margin-bottom: 20px;
}

#add_acct{
 margin-left: 350px;
 margin-bottom: 30px;
 margin-top: 70px;
}

#add_acct button{
 height: 70px;
}

#account div{
 margin: 30px 0 30px 0;
}

.zone{
 text-align: center;
}

/*Accounts table*/

#table_div{
 margin-top: 20px;
 margin-bottom: 20px;
}

table{
 font-family:arial, sanserif;
 border-collapse: collapse;
 width: 100%;
}

td, th{
 border: 1px solid #ccddff;
 text-align: left;
 padding: 8px;
}




/* forms */

.one_btn_form div{
 margin: 30px 0 30px 0;
}

p#create_acct{
 text-align: center;
}

.left_btn_form{
  margin-right: 70px;
  margin-bottom: 30px;
}

#credit_debit div{
 margin-top: 15px;
 margin-bottom: 15px;
}


#cr_db_inp{
 width: 340px;
 height: 30px;
}

#cr_btn, #db_btn{
 margin-right: 100px;
 width: 120px;
}

/* Sidebar */

aside#sidebar{
 float: right;
 width: 30%;
 margin-top: 10px;
}

/* Article */

article#main-col{
 float: left;
 width: 65%;
}

footer {
 padding:20px;
 //margin-top: 15px;
 color: #ffffff;
 background-color: #e8459d;
 text-align: center;
}

/*Media Queries: In here, you register behaviours you want when the screen size shrinks. So experiment first by adjusting the screen size and observing what happens*/

@media(max-width: 760px){
 header #branding, header nav, header nav li{
  float: none;
  text-align: center;
  width: 100%;
 }

 /*As screen size shrinks, we need space between the header border line and the contents*/

 header{
  padding-bottom: 20px;
}

 #showcase h1{
  margin-top: 40px;
}
}